.logo {
  display: flex;
  align-items: center;
}

.logo__image {
  max-height: 30px;
  background-color: white;
  padding: 0.2rem;
  border-radius: 50%;
  width: auto;
}

.logo__text {
  margin-left: 0.3rem;
  font-weight: 600;
  user-select: none;
}
