@font-face {
  font-family: spotify-circular-light;
  src: url("/public/fonts/Circular/CircularStd-Medium.otf") format("opentype");
}

.footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
}

#footer__logo {
  margin: 1.2rem 0 0 1rem;
  color: #ffffff;
}

.links * {
  font-family: spotify-circular-light;
}

.links__section {
  margin: 3.8rem 1rem;
}

.links__title {
  text-transform: uppercase;
  color: #8e9193;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 900;
}

.links__list {
  list-style: none;
  padding: 0;
}

.links__item {
  margin: 1.5rem 0;
}

.links__item > * {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
}

.links__item > *:hover {
  cursor: pointer;
  color: #1ed760;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials__icon {
  background-color: #222326;
  padding: 0.65rem;
  max-height: 24px;
  min-height: 24px;
  min-width: 24px;
  max-width: 24px;
  margin: 0.5rem;
  border-radius: 50%;
}

.socials__icon:hover {
  color: #1ed760;
}
