<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Component Playground</title>
    <!-- <script src="script.js" defer></script> -->
  </head>
  <body>
    <!-- Slideshow start -->
    <div class="slideshow-container">
      <!-- Images -->
      <div class="mySlides fade">
        <div class="numbertext">1/3</div>
        <img src="media/img1.jpg" />
        <div class="text">Caption Text</div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext">2/3</div>
        <img src="media/img2.jpg" />
        <div class="text">Caption Text</div>
      </div>
      <div class="mySlides fade">
        <div class="numbertext">3/3</div>
        <img src="media/img3.jpg" />
        <div class="text">Caption Text</div>
      </div>

      <!-- Prev/Next Buttons -->
      <a class="previous">&#10094;</a>
      <a class="next">&#10095;</a>
    </div>
    <br />
    <!-- Dots/circles  -->
    <div class="dots-container">
      <span class="dot" id="1"></span>
      <span class="dot" id="2"></span>
      <span class="dot" id="3"></span>
    </div>
    <!-- Slideshow End -->
  </body>
</html>
