.nav {
  display: none;
  background-color: #dddddd;
}

.nav--active {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0 1rem;
  padding: 0;
}

li {
  margin: 0.5rem 0;
  width: 90%;
  padding: 0.5rem 1rem;
}

li:hover {
  background-color: #f3f3f3;
  cursor: pointer;
  border-radius: 0.3rem;
}

.projects__title {
  font-size: 2rem;
}
