.nav__menu-icon {
  position: relative;
  margin: 1rem;
  z-index: 2;
}

.nav__menu-icon:hover {
  cursor: pointer;
}

.nav__menu-icon * {
  box-sizing: border-box;
  display: block;
  background-color: white;
  height: 3px;
  width: 22px;
  margin-top: 4px;
  transition: all 0.2s ease-in-out;
  transform-origin: 100% 50%;
  border-radius: 1px;
  z-index: 2 !important;
}

.nav__menu-icon--active .nav__menu-icon--top {
  transform: rotate(-45deg) translateY(-1px);
}
.nav__menu-icon--active .nav__menu-icon--mid {
  opacity: 0;
}
.nav__menu-icon--active .nav__menu-icon--bot {
  transform: rotate(45deg) translateY(1px);
}
