@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;1,200&family=Tangerine:wght@400;700&display=swap');

#content {
	min-height: 100vh;
	background-image: url('background.jpg');
	background-size: cover;
	font-family: 'Montserrat', cursive;
	color: white;
}

.header {
	height: 20vh;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mozzafiato {
	font-family: 'Tangerine', cursive;
	font-size: 3rem;
	font-weight: 700;
}

.tabs__container {
	margin-top: 50px;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.tab {
	cursor: pointer;
}

.home,
.menu,
.contact {
	display: none;
	margin-top: 6.5%;
	background-color: rgba(0, 0, 0, 0.6);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.active {
	display: flex;
}
.home-text {
	font-size: 1.3rem;
	margin: 15px;
}
.home-img {
	height: 250px;
	width: fit-content;
	border-radius: 50%;
	opacity: 0.7;
	box-shadow: 1px 1px 20px black;
}

.menu div {
	margin: 20px;
	width: 400px;
	height: 250px;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	transition: all 0.5s;
}

.menu div:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.item-img {
	width: 200px;
}
