:root {
	--grid-col-size: 10px;
	--divs-per-side: 50;
}

#start-btn {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

#start-btn:hover {
	transform: scale(1.1);
}

#div__container {
	display: grid;
	grid-template-columns: repeat(var(--divs-per-side), var(--grid-col-size));
	grid-template-rows: repeat(var(--divs-per-side), var(--grid-col-size));
}

.sqr-div {
	width: var(--grid-col-size);
	height: var(--grid-col-size);
	background-color: black;
}
