@font-face {
  font-family: spotify-circular;
  src: url("../public/fonts/Circular/CircularStd-Black.otf") format("opentype");
}
body {
  margin: 0;
  overflow-x: hidden;
}

.home * {
  font-family: spotify-circular;
}
